Tuples

1. Tuple is similar to List except that the object in tuples are immutable which means we cannot change the elements of tuple once assigned. 2. Whenwe dont want to change the data over time, tuple is preffered data type. 3. Iterating over the elements of a tuple is faster compared to iterating over a list

In [1]:
tup1 = () # empty tuple
type(tup1)

tuple

In [2]:
tup2 = (1,2,3,4,5,6,7,8,9,10)
# Tuple of integers

In [4]:
tup3 = ('python',1.5,25.543,3,True,(1,2,3),[1,2,3])
# Tuple of different data types

In [5]:
len(tup3)

7

Tuple Indexing

In [6]:
tup3[0]
# Accessing the first element

'python'

In [7]:
tup3[0][3]

'h'

Tuple Slicing

In [8]:
tup1 = ('one', 'two', 'three', 'four', 'five')
tup1[1:2]
# Accessing the element

('two',)

In [9]:
tup1[:]

('one', 'two', 'three', 'four', 'five')

Remove and Change the items

In [10]:
tup1

('one', 'two', 'three', 'four', 'five')

In [11]:
del tup1[0] # Deleting the tuple

TypeError: 'tuple' object doesn't support item deletion

In [12]:
tup1[0] = 1
# Changing the tuple

TypeError: 'tuple' object does not support item assignment

In [13]:
del tup1 
# Deleting the tuple

In [15]:
tup1

NameError: name 'tup1' is not defined

In [14]:
tup = ('one', 'two', 'three', 'four', 'five')
tup

('one', 'two', 'three', 'four', 'five')

Loop through a tuple

In [16]:
tup

('one', 'two', 'three', 'four', 'five')

In [17]:
for i in tup:
    print(i)

one
two
three
four
five

In [18]:
for i in enumerate(tup):
    print(i)
# Enumerating the tuple

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')

Count

In [21]:
tup = ('one', 'two', 'three', 'four', 'one', 'one')
tup.count('one')
# Counting the number of occurences

3

Tuple Membership

In [22]:
tup = ('one', 'two', 'three', 'four', 'five')

In [23]:
'one' in tup
# Searching for an element

True

In [24]:
'six'in tup
# Searching for an element

False

In [25]:
if 'three' in tup:
    print('three is present')
# Searching for an element
else:
    print('three is not present')

three is present

In [26]:
if 'zero' in tup:
    print('zero is present')
else:
    print('zero is not present')

zero is not present

Index Position

In [27]:
tup

('one', 'two', 'three', 'four', 'five')

In [28]:
tup.index('three')
# Getting the index of an element

2

Sorting

In [29]:
tup = (67,43,54,16,93,7,0,-3,-17,99)
sorted(tup)
# Sorting the tuple

[-17, -3, 0, 7, 16, 43, 54, 67, 93, 99]

In [30]:
sorted(tup, reverse = True)
# Sorting the tuple in descending order

[99, 93, 67, 54, 43, 16, 7, 0, -3, -17]

Sets

- Unordered & Unindexed collection of items.
- Set elements are unique. Duplicate elements are not allowed.
- Set elements are immutable(can't be changed)
- Set itself is mutable. We can add or remove items from it.

Set Creation

In [31]:
set = {2,3,4,5,6,7}
set

{2, 3, 4, 5, 6, 7}

In [32]:
type(set)
# Type of set

set

In [33]:
len(set)
# Length of set

6

In [36]:
set = {2.45,-4,45,(1,2,3),'hello'}
set

{(1, 2, 3), -4, 2.45, 45, 'hello'}

In [39]:
set1 = set2()
# Creating an empty set
type(set1)

NameError: name 'set2' is not defined

Loop through a Set

In [40]:
myset = {'one','two','three','four','five'}

for i in myset:
    print(i)

three
two
five
one
four

In [41]:
for i in enumerate(myset):
    print(i)

(0, 'three')
(1, 'two')
(2, 'five')
(3, 'one')
(4, 'four')

Set Membership

In [42]:
myset

{'five', 'four', 'one', 'three', 'two'}

In [43]:
'one' in myset

True

In [44]:
'six' in myset

False

In [45]:
if 'one' in myset:
    print('one is present')
else:
    print('one is not present') 
# Searching for an element

one is present

In [46]:
if 'six' in myset:
    print('six is present')
else:
    print('six is not present')
# Searching for an element

six is not present

Add & Remove Items

In [47]:
myset

{'five', 'four', 'one', 'three', 'two'}

In [48]:
myset.add(6)
# Adding an element
myset

{6, 'five', 'four', 'one', 'three', 'two'}

In [49]:
myset.update([7,8,9])
# Adding multiple elements
myset

{6, 7, 8, 9, 'five', 'four', 'one', 'three', 'two'}

In [50]:
myset.remove(8)
# Removing an element
myset

{6, 7, 9, 'five', 'four', 'one', 'three', 'two'}

In [51]:
myset.discard(9)
# Removing an element using discard
myset

{6, 7, 'five', 'four', 'one', 'three', 'two'}

In [52]:
myset.clear()
# Clearing the set
myset

set()

In [53]:
del myset
# Deleting the set
myset

NameError: name 'myset' is not defined

Copy Set

In [1]:
set = {1,2,3,4,5,6,7,8,9,10}
set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
set1 = set
set1
# Copying the set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
id(set), id(set1)
# Checking the id of the sets

(2086666786560, 2086666786560)

In [4]:
myset = set.copy()
myset
# Copying the set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:
id(myset), id(set), id(set1)
# Checking the id of the sets

(2086666119968, 2086666786560, 2086666786560)

In [6]:
set.add(11)
set
# Adding an element

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [7]:
set1
# The element is also updated in set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [8]:
myset
# The element is not updated from this on (copy)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Set Operation

Union

In [9]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
c = {8,9,10,11,12}

A.union(B)
# Union
# All elements, No duplicates

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
A.union(B,c)
# Union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [11]:
A|B|c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [12]:
A.update(B,c)
# Update
# All elements, No duplicates
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Intersection

In [13]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
c = {8,9,10,11,12}

A.intersection(B)
# Intersection
# Only common elements

{4, 5}

In [14]:
A & B
# Intersection

{4, 5}

In [15]:
A.intersection_update(B)
# Intersection update
# Only common elements
A

{4, 5}

Difference

In [17]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a - b
# Difference
# Elements in a but not in b

{1, 2, 3}

In [18]:
a.difference(b)
# Difference

{1, 2, 3}

In [19]:
b.difference(a)
# Difference

{6, 7, 8}

Symmetric Difference

In [20]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A^B
# Symmetric difference

{1, 2, 3, 6, 7, 8}

In [21]:
A.symmetric_difference(B)
# Symmetric difference 
# Only common elements are removed

{1, 2, 3, 6, 7, 8}

In [22]:
A.symmetric_difference_update(B)
# Symmetric difference update
# Only common elements are removed
A

{1, 2, 3, 6, 7, 8}

Subset, Superset & Disjoint

In [24]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10,11,12,13}
C = {9,10,11,12,13}

A.issubset(B)
# Subset
# Check if A is subset of B

False

In [25]:
C.issubset(B)
# Subset
# Check if C is subset of B

True

In [26]:
B.issuperset(A)
# Superset
# Check if B is superset of A

False

In [27]:
B.issuperset(C)
# Superset
# Check if B is superset of C

True

In [28]:
A.isdisjoint(B)
# Disjoint
# Check if A and B are disjoint

False

In [29]:
B.isdisjoint(C)
# Disjoint
# Check if B and C are disjoint

False

- Other Builtin Functions

In [30]:
A

{1, 2, 3, 4, 5}

In [31]:
sum(A)
# Sum

15

In [32]:
max(A)
# Max

5

In [33]:
min(A)
# Min

1

In [34]:
len(A)
# Length

5

In [35]:
list(enumerate(A))
# Index and value

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [36]:
F = sorted(A, reverse=True)
F
# Sorting in descending order

[5, 4, 3, 2, 1]

In [37]:
sorted(F)
# Sorting in ascending order

[1, 2, 3, 4, 5]

Dictionary

In [38]:
mydict = dict()
# Empty dictionary
mydict
# OR
        # mydict = {}
            #Empty dictionary
        # mydict

{}

In [39]:

       #KEY =1, 2, 3 #VALUE = 'one', 'two', 'three'
mydict = {1:'one', 2:'two', 3:'three'}
# Dictionary
mydict

# OR
# mydict = dict([(1,'one'), (2,'two'), (3,'three')])
# mydict

{1: 'one', 2: 'two', 3: 'three'}

In [40]:
mydict.keys()
# Keys of dictionary

dict_keys([1, 2, 3])

In [41]:
mydict.values()
# Values of dictionary

dict_values(['one', 'two', 'three'])

In [42]:
mydict.items()
# Items of dictionary

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [43]:
mydist = {1:'one', 2:'two', 'A':['Hello', 'World', 'Python'], 3:'three'}
# Dictionary with nested list
mydist

{1: 'one', 2: 'two', 'A': ['Hello', 'World', 'Python'], 3: 'three'}

In [44]:
keys = {'a', 'b', 'c', 'd'}
mydist1 = dict.fromkeys(keys)
# Creating a dictionary from keys
mydist1

{'a': None, 'b': None, 'd': None, 'c': None}

In [47]:
keys = {'a', 'b', 'c', 'd'}
value = [1, 2, 3, 4]
mydist2 = dict.fromkeys(keys, value)
# Creating a dictionary from keys and values
mydist2

{'a': [1, 2, 3, 4], 'b': [1, 2, 3, 4], 'd': [1, 2, 3, 4], 'c': [1, 2, 3, 4]}

In [48]:
value.append(5)
# Adding an element
mydist2

{'a': [1, 2, 3, 4, 5],
 'b': [1, 2, 3, 4, 5],
 'd': [1, 2, 3, 4, 5],
 'c': [1, 2, 3, 4, 5]}

Accessing Items

In [49]:
mydict = {1:'one', 2:'two', 3:'three', 4:'four', 5:'five'}

In [50]:
mydict[2]
# Accessing the element using key

'two'

In [51]:
mydist.get(3)
# Accessing the element using get

'three'

In [55]:
mydist1 = {'Name':'Pruthvi Simha Reddy', 'Age':24, 'City':'Hyderabad', 'Country':'India'}
# Example dictionary
mydist1

{'Name': 'Pruthvi Simha Reddy',
 'Age': 24,
 'City': 'Hyderabad',
 'Country': 'India'}

In [56]:
mydist1.pop('Age')
# Removing an element using pop
mydist1

{'Name': 'Pruthvi Simha Reddy', 'City': 'Hyderabad', 'Country': 'India'}

In [57]:
mydist1.update({'Age':24})
# Updating an element
mydist1

{'Name': 'Pruthvi Simha Reddy',
 'City': 'Hyderabad',
 'Country': 'India',
 'Age': 24}

In [58]:
mydist1.get('Name')
# Accessing the element using get

'Pruthvi Simha Reddy'

In [59]:
mydist1['Age'] = 25
# Updating an element
mydist1

{'Name': 'Pruthvi Simha Reddy',
 'City': 'Hyderabad',
 'Country': 'India',
 'Age': 25}

In [60]:
mydist1.popitem()
# Removing a random element using popitem
mydist1

{'Name': 'Pruthvi Simha Reddy', 'City': 'Hyderabad', 'Country': 'India'}

In [61]:
del mydist1['Country']
# Deleting an element
mydist1

{'Name': 'Pruthvi Simha Reddy', 'City': 'Hyderabad'}

In [62]:
del mydist1
# Deleting the dictionary
mydist1

NameError: name 'mydist1' is not defined

Copy Dictionary

In [63]:
mydict = {'Name':'Pruthvi Simha Reddy', 'Age':24, 'City':'Hyderabad', 'Country':'India'}
mydict

{'Name': 'Pruthvi Simha Reddy',
 'Age': 24,
 'City': 'Hyderabad',
 'Country': 'India'}

In [64]:
mydist1 = mydict
# Copying the dictionary
mydist1

{'Name': 'Pruthvi Simha Reddy',
 'Age': 24,
 'City': 'Hyderabad',
 'Country': 'India'}

In [68]:
mydist2 = mydist1
# Copying the dictionary
mydist2

{'Name': 'Pruthvi Simha Reddy',
 'Age': 24,
 'City': 'Hyderabad',
 'Country': 'India'}

In [69]:
id(mydict), id(mydist1), id(mydist2)
# Checking the memory address

(2086682334720, 2086682334720, 2086682334720)

In [70]:
mydist1['Country'] = 'USA'
# Updating an element
mydist1

{'Name': 'Pruthvi Simha Reddy',
 'Age': 24,
 'City': 'Hyderabad',
 'Country': 'USA'}

In [71]:
print(mydict)
print(mydist1)
print(mydist2)

{'Name': 'Pruthvi Simha Reddy', 'Age': 24, 'City': 'Hyderabad', 'Country': 'USA'}
{'Name': 'Pruthvi Simha Reddy', 'Age': 24, 'City': 'Hyderabad', 'Country': 'USA'}
{'Name': 'Pruthvi Simha Reddy', 'Age': 24, 'City': 'Hyderabad', 'Country': 'USA'}

In [73]:
mydict4 = mydist1.copy()

In [74]:
id(mydict), id(mydict4)

(2086682334720, 2086682580928)

Loop through a Dictionary

In [75]:
mydict={'Name':'Pruthvi Simha Reddy', 'Age':24, 'City':'Hyderabad', 'Country':'India'}

for i in mydict:
    print(i, ':', mydict[i])

# Iterating through the dictionary

Name : Pruthvi Simha Reddy
Age : 24
City : Hyderabad
Country : India

In [76]:
for i in mydict:
    print(mydict[i])

# Iterating through the dictionary only values

Pruthvi Simha Reddy
24
Hyderabad
India

Dictionary Membership

In [77]:
mydict = {'Name':'Pruthvi Simha Reddy', 'Age':24, 'City':'Hyderabad', 'Country':'India'}

'Name' in mydict
# Checking if the element is in the dictionary

True

In [78]:
'Hyderburg' in mydict
# Checking if the element is in the dictionary
# Only works for keys

False

All & Any

THe all() method returns:

- True - If all keys of the dictionary are true
- False - If any keys of the dictionary is false

The any() function returns True if any key of the dictionary is True. If not False

In [79]:
mydict

{'Name': 'Pruthvi Simha Reddy',
 'Age': 24,
 'City': 'Hyderabad',
 'Country': 'India'}

In [80]:
all(mydict)
# Checking if the dictionary is not empty

True

In [81]:
any(mydict)
# Checking if the dictionary is not empty

True